	  						
	  						
	  	<% for artist_photo in artist_photos %>
	  						
	  	<div class="artdiv">
		    <a href="/artworks/<%= artist_photo.urlname %>"> <%= image_tag artist_photo.photo.url(:thumb), :class=>'dropshadow' %></a><br/><br/>                	
		    <%= artist_photo.title%>
		</div>
		
		<% end %>

        <br/><br/><p><%= will_paginate artist_photos %></p>