<div class="contentinside">
			
			<div class="lefter">
					<div id="navigation">
						<%= render :partial =>"shared/category_list", :locals=>{:categories=>Category.all} %>
					</div>
			</div>
			<div class="mid-content"> 
				<div class="maintitle">Artworks</div><br/>
				
				<div class="gallery">
					
					<% if @artists.empty? %>
					  <p style="color: #5A6563;">Record Not Founds</p>
					<% else %>
					
					<% @artists.each do |artist| %>
					
						<%= render :partial =>"artist_search", :locals=>{:artist_photos=>ArtistPhoto.find_all_by_artist_id(artist.id).paginate(:per_page => 4, :page => params[:page])} %>
					
                    
			      	   
                     <% end %>
                     <% end %>
                 
                  

				
             		</div>
			       </div>   
			       
						  
		</div>